/*body {
  background: bisque;
}
.app{
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: 100vh;
  justify-content: space-around;
}
.app>div:first-of-type{
  background: crimson;
}

.app>div:last-of-type{
  background: whitesmoke;
}
.peer-id{
  padding: 5px;
  border-bottom: 3px solid black;
}

.single-msg{
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.msg-input{
  display: flex;
  background: gold;
}*/