html {
    background-color: white;
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    grid-template-columns: 30% 67%;
    justify-content: space-between;
}

/* other peers ids */

aside {
    padding: 5px;
    height: 73vh;
}

aside>h1 {
    padding: 5px;
    margin: 10px 5px;
}

.peers-ids-container {
    height: 73vh;
    overflow-y: scroll;
}

.peers-ids-container>div {
    padding: 5px;
    margin: 0 5px;
    margin-bottom: 5px;
    /*border-bottom: 1px solid gray;*/
}

.peers-ids-container>div:hover {
    background: #6bc8ff;
    cursor: pointer;
}

.selected-peer {
    background: #ade1ff;
    font-size: 20px;
    color: black;
    border-radius: 5px;
}
.spin-container{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 10px;
}
/*************/

section {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

section>* {
    margin: 2px 0;
}

/* personal information */

.personal-info {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-info * {
    margin-bottom: 0;
    font-size: 18px;
}

/* Messages */

.msg-container {
    display: flex;
    flex-direction: column;
    min-height: 73vh;
    max-height: 73vh;
    overflow-y: scroll;
    padding: 10px;
    background: #ededed;

/*    border: 1px solid lightgray;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
*/
}

.msg-div {
    display: grid;
    grid-template-areas: "name msg""date date";
    align-self: flex-start;
    padding: 2px 5px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    margin: 5px 0;
    background: #41f4b8;
    background: #ffffff;
}



.msg-div>* {
    padding: 5px;
    margin-bottom: 0;
    font-size: 16px;
    color: black;
}

.msg-div>h5 {
    grid-area: name;
}

.msg-div>p {
    grid-area: msg;
}

.msg-div>h6 {
    grid-area: date;
    font-size: 12px;
    color: gray;
}

.my-msg {
    align-self: flex-end;
    background: #d9f442;
    background: #cefffa;
}

/* custom scroll bar */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* name input custom width */

section>.personal-info>.ant-input-search {
    width: 50%;
}

/******/

@media screen and (max-width: 500px) {
    main aside {
        display: none;
    }
    main {
        grid-template-columns: 100%;
    }
    .personal-info {
        flex-direction: column;
        align-items: stretch;
    }
    section>.personal-info>.ant-input-search {
        width: 100%;
    }
    .personal-info>div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}